/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#adminInfo,
#pendingVerifications {
    margin-top: 20px;
} */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #A55EEA, #FF7675);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

.login-container {
    background: linear-gradient(to right, #FFA500, #4B0082);
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(to right, #FFA500, #4B0082);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
  }
  button {
    /* width: 25px;  */
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #A55EEA, #FF7675);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 10px; 
    margin-bottom: 10px;/* Add space between buttons */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* button:last-child {
    margin-right: 0; /* Remove margin from last button */
/* } */ 

button:hover {
    background: linear-gradient(to right, #9448ED, #FF6B6B);
}
h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  .login-container:hover {
    transform: translateY(-8px);
  }